docs/workflow/n8n/07_verify.json
{
  "name": "GameDev \u2014 Phase 07 Verify (Independent Evaluator)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "iteration",
              "type": "number"
            },
            {
              "name": "context",
              "type": "string"
            }
          ]
        }
      },
      "id": "trigger-verify",
      "name": "When Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENT_SDK_BASE_URL }}/phase/verify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ iteration: $json.iteration, context: $json.context }) }}",
        "options": {
          "timeout": 1800000
        }
      },
      "id": "http-verify",
      "name": "Run Verify (Independent Evaluator) Phase (Agent SDK)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Approve Phase: VERIFY (independent evaluator)",
        "formDescription": "=Iteration {{ $('When Called by Orchestrator').item.json.iteration }} \u2014 VERIFY (independent evaluator) summary:\n\n{{ $json.structured_output ? $json.structured_output.summary : $json.result_text }}\n\nVerdict: {{ $json.structured_output ? $json.structured_output.verdict : '?' }} | Route: {{ $json.structured_output ? $json.structured_output.route : '?' }} | Verified: {{ $json.structured_output ? ($json.structured_output.verified_feature_ids || []).join(', ') : '' }} | Exercised build: {{ $json.structured_output ? $json.structured_output.exercised_build : '?' }} | Criteria checked: {{ $json.structured_output ? ($json.structured_output.criteria_checked || []).length : '?' }} | Findings: {{ $json.structured_output ? ($json.structured_output.findings || []).length : '?' }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Decision",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "approve"
                  },
                  {
                    "option": "reject"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Notes",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "id": "approve-verify",
      "name": "Human Approval (Form)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        700,
        300
      ],
      "webhookId": "approve-verify-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "phase",
              "value": "verify",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "iteration",
              "value": "={{ $('When Called by Orchestrator').item.json.iteration }}",
              "type": "number"
            },
            {
              "id": "a3",
              "name": "approved",
              "value": "={{ $json.Decision === 'approve' }}",
              "type": "boolean"
            },
            {
              "id": "a4",
              "name": "approval_notes",
              "value": "={{ $json.Notes || '' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "structured_output",
              "value": "={{ $('Run Verify (Independent Evaluator) Phase (Agent SDK)').item.json.structured_output }}",
              "type": "object"
            },
            {
              "id": "a6",
              "name": "result_text",
              "value": "={{ $('Run Verify (Independent Evaluator) Phase (Agent SDK)').item.json.result_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "out-verify",
      "name": "Return Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        300
      ]
    }
  ],
  "connections": {
    "When Called by Orchestrator": {
      "main": [
        [
          {
            "node": "Run Verify (Independent Evaluator) Phase (Agent SDK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Verify (Independent Evaluator) Phase (Agent SDK)": {
      "main": [
        [
          {
            "node": "Human Approval (Form)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Approval (Form)": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
