docs/workflow/n8n/08_commit.json
{
  "name": "GameDev \u2014 Phase 08 Commit",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "iteration",
              "type": "number"
            },
            {
              "name": "context",
              "type": "string"
            }
          ]
        }
      },
      "id": "trigger-commit",
      "name": "When Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENT_SDK_BASE_URL }}/phase/commit",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ iteration: $json.iteration, context: $json.context }) }}",
        "options": {
          "timeout": 1800000
        }
      },
      "id": "http-commit",
      "name": "Run Commit Phase (Agent SDK)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Approve Phase: COMMIT",
        "formDescription": "=Iteration {{ $('When Called by Orchestrator').item.json.iteration }} \u2014 COMMIT summary:\n\n{{ $json.structured_output ? $json.structured_output.summary : $json.result_text }}\n\nCommit made: {{ $json.structured_output ? $json.structured_output.commit_made : '?' }} | SHA: {{ $json.structured_output ? $json.structured_output.commit_sha : '' }} | Clean: {{ $json.structured_output ? $json.structured_output.clean_state : '?' }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Decision",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "approve"
                  },
                  {
                    "option": "reject"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Notes",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "id": "approve-commit",
      "name": "Human Approval (Form)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        700,
        300
      ],
      "webhookId": "approve-commit-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "phase",
              "value": "commit",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "iteration",
              "value": "={{ $('When Called by Orchestrator').item.json.iteration }}",
              "type": "number"
            },
            {
              "id": "a3",
              "name": "approved",
              "value": "={{ $json.Decision === 'approve' }}",
              "type": "boolean"
            },
            {
              "id": "a4",
              "name": "approval_notes",
              "value": "={{ $json.Notes || '' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "structured_output",
              "value": "={{ $('Run Commit Phase (Agent SDK)').item.json.structured_output }}",
              "type": "object"
            },
            {
              "id": "a6",
              "name": "result_text",
              "value": "={{ $('Run Commit Phase (Agent SDK)').item.json.result_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "out-commit",
      "name": "Return Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        300
      ]
    }
  ],
  "connections": {
    "When Called by Orchestrator": {
      "main": [
        [
          {
            "node": "Run Commit Phase (Agent SDK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Commit Phase (Agent SDK)": {
      "main": [
        [
          {
            "node": "Human Approval (Form)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Approval (Form)": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
